app/build
api-service/tmdb/build
core-di/build
core-navigation/build
core-paging/build
core-ui/build
core-ui-paging/build
core-image/build
shared-ui/build
shared-data/build
feature-filter/build
feature-movie/build
feature-movie-navigation/build
feature-tv/build
feature-tv-navigation/build
feature-person/build
feature-person-navigation/build
feature-library/build
feature-library-navigation/build
feature-search/build
feature-search-navigation/build

/.gradle
/.idea
/release
/local.properties
/core.properties
/release-ads.properties
**/.DS_Store
buildSrc/build
buildSrc/.gradle
.kotlin
app/release
build/
buildSrc/.kotlin
gradlew.bat
gradlew
bin/
*/bin/

# Firebase
**/google-services.json
.artifacts/

docs/