<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ShowTimeApp"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShowTime.Starting"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ShowTime.Starting"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Custom Scheme Deep Links (showtime://...) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="showtime" />
            </intent-filter>

            <!-- Universal Android App Links (https://showtime.ssverma.in/...) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="showtime.ssverma.in" />

                <data android:pathPrefix="/movie" />
                <data android:pathPrefix="/tv" />
                <data android:pathPrefix="/person" />
                <data android:pathPrefix="/people" />
                <data android:pathPrefix="/lists" />
                <data android:pathPrefix="/list" />
                <data android:pathPrefix="/l" />
                <data android:pathPrefix="/community" />
                <data android:pathPrefix="/library" />
                <data android:pathPrefix="/discover" />
                <data android:pathPrefix="/discovery" />
                <data android:pathPrefix="/browse" />
                <data android:pathPrefix="/diary" />
                <data android:pathPrefix="/taste" />
                <data android:pathPrefix="/recommendations" />
                <data android:pathPrefix="/wrapped" />
                <data android:pathPrefix="/milestones" />
                <data android:pathPrefix="/challenges" />
                <data android:pathPrefix="/challenge" />
                <data android:pathPrefix="/backlog" />
                <data android:pathPrefix="/blindspot" />
                <data android:pathPrefix="/blindspots" />
                <data android:pathPrefix="/receipt" />
                <data android:pathPrefix="/receipts" />
                <data android:pathPrefix="/game" />
                <data android:pathPrefix="/puzzle" />
                <data android:pathPrefix="/match" />
                <data android:pathPrefix="/matchroom" />
                <data android:pathPrefix="/swipenight" />
                <data android:pathPrefix="/home" />
                <data android:pathPrefix="/dashboard" />
                <data android:pathPrefix="/search" />

            </intent-filter>

        </activity>

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Disable automatic WorkManager initialization to prevent startup crashes -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <!-- Up Next Glance Widget Receiver -->
        <receiver
            android:name=".widget.upnext.UpNextWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_up_next_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/up_next_widget_info" />
        </receiver>

        <!-- Watchlist Glance Widget Receiver -->
        <receiver
            android:name=".widget.watchlist.WatchlistWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_watchlist_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/watchlist_widget_info" />
        </receiver>

    </application>

</manifest>